# ----------------------
# Java & Maven
# ----------------------
/target/
*.class
*.jar
*.war
*.ear

# ----------------------
# IDEs
# ----------------------
# IntelliJ IDEA
/.idea/
/*.iml

# Eclipse
/.project
/.classpath
/.settings/

# VS Code
/.vscode/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Docker
# ----------------------
docker-compose.override.yml

# ----------------------
# Environment / Secrets
# ----------------------
*.env
